<nav  id="large-nav" class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid clearfix navbar-top">
    <div class="container">
      <div class="col-sm-5">
        <%= link_to image_tag('logo.png', class: 'logo'), spree.root_path %>
      </div>

      <div class="col-sm-6 search">
        <%= form_tag spree.products_path, :method => :get do %>
          <div class="input-group">
            <%= search_field_tag :keywords, params[:keywords], type: 'search', class: 'form-control input-lg', placeholder: 'Search Ann Arbor Tees' %>
             <span class="input-group-btn">
               <button class="btn btn-lg" type="submit"><i class="fa fa-search"></i></button>
              </span>
          </div>
        <% end %>
      </div>

      <div class="col-sm-1 text-center cart">
        <%= link_to '/cart' do %><span class="fa fa-shopping-cart btn-30"></span><span class="badge cart-count">1</span><% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid navbar-bottom">
    <div class="container">
      <div class="col-sm-10">
        <%= breadcrumbs(@taxon, @product) %>
      </div>
      <div class="col-sm-2 text-right help">
        <a href="#help">Help</a>
      </div>
    </div>
  </div>
</nav>

<nav  id="small-nav" class="navbar" role="navigation">
  <div class="container-fluid clearfix navbar-top">
    <div class="container">
      <div class="row logo">
        <%= link_to image_tag('logo.png'), spree.root_path %>
      </div>
      <div class="search clearfix" class="row">
        <%= form_tag spree.products_path, :method => :get do %>
          <div class="input-group">
            <%= search_field_tag :keywords, params[:keywords], type: 'search', class: 'form-control input-lg', placeholder: 'Search Ann Arbor Tees' %>
             <span class="input-group-btn">
               <button class="btn btn-lg" type="submit"><i class="fa fa-search"></i></button>
             </span>
          </div>
        <% end %>
      </div>

      <div class="col-xs-10 text-left cart">
        <%= link_to '/cart' do %>Shopping Cart (<span class="cart-count">1</span>)<% end %>
      </div>

      <div class="col-xs-2 text-right help">
        <a href="#help">Help</a>
      </div>
    </div>
  </div>

  <div class="container-fluid navbar-bottom">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <%= breadcrumbs(@taxon, @product) %>
        </ol>
      </div>

    </div>
  </div>
</nav>