<%= form_for :order, :url => populate_orders_path do |f| %>
    <div id="variantTabs">
      <ul class="nav nav-tabs">
        <% @styles.each_with_index do |option_value, index| %>
            <li <% if index == 0 %>class="active"<% end %>>
              <a href="#<%= option_value.presentation.gsub(' ', '-')%>">
                <%= option_value.presentation %>
              </a>
            </li>
        <% end %>
      </ul>

      <div class="tab-content imprinted-product-layout">
        <%@styles.each_with_index do |option_value, index| %>
            <div class="tab-pane clearfix  <% if index == 0 %>active<% end %>" id="<%= option_value.presentation.gsub(' ', '-')%>">
              <p class="clearfix text-right" style="margin: 0.5em 2.5em">
                <a href="#">Sizing Guide</a>
              </p>
              <ul class="variants">
                <% @product.variants_with_option_value(option_value).each do |variant| %>
                    <li>
                      <input id="<%= variant.id %>" class="btn btn-default variant-button" type="button" value="<%= variant.option_value('apparel-size') %>" data-price="<%= Spree::Money.new(variant.price, currency: current_currency, with_currency: false).to_s %>" >
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <%= hidden_field_tag :variant_id, '' %>
        <%= hidden_field_tag :quantity, 1 %>
        <div class="btn-group clearfix buy-button" id="buy-button">
          <%= f.submit 'BUY T-SHIRT', class: 'btn btn-default' %>
          <%= f.submit number_to_currency(@product.price), class: 'btn btn-default', id: 'variant-price' %>
        </div>
      </div>
    </div>
<% end %>