<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
    <head data-hook="inside_head">
      <%= render :partial => 'spree/shared/head' %>
    </head>

    <body class="<%= body_class %> annarbortees" id="<%= @body_id || 'default' %>" data-hook="body">

    <%= render partial: 'spree/shared/header' %>

    <%= yield %>

    <!-- FOOTER -->
    <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; Ann Arbor T-shirt Company LLC 2008-2014
          </div>
        </div>
      </footer>
    </div>

    </div>
    <!-- /container -->

    <%= render :partial => 'spree/shared/google_analytics' %>

    </body>
</html>
